.panda-bg-secondary {
    background-color: #fceae8;
}

.panda-btn {
    background-image: linear-gradient(to bottom, #FF589B 0%, #ff4b93 100%);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
}